
{% extends "blog/base.html" %}

{%   block content %}
<div class="jumbotron ">
<br>
<h3 class="text-dark">About our project</h3>
<p >
<h6 class="text-secondary" style="text-align: justify"> 
    
    The idea behind creating Dep-Map(Dependency Map) is to increase the accuracy of our Major Project -"Atlas of Learning"  which focuses on creating a prerequisite graph of keywords and its respective context words.Thereby we seek your contribution to make our project more reliable and provide us with necessary feedback wherever necessary.  
 


   

</h6></p>
</div>
{% endblock content %}



