{% extends 'blog/base.html' %}
{% load static %}
{% block content %}

<div class="mdl-grid portfolio-max-width">
  {% if question %}
  <form class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp" method="POST"  action="" >
    {% csrf_token %}
    <input type="hidden" value="{{question.question_type}}^{{question.set_id}}^{{question.question_id}}" name="question-id">
    <div class="mdl-card__title mdl-card--border">
      <h2 class="mdl-card__title-text">{{question.question_text}}</h2>
    </div>
    <div class="mdl-card__supporting-text no-vertical-padding">
      <ul class="choice-list-control mdl-list">
        {% for choice in list_choice %}
        <li class="mdl-list__item">
          <label class="container" for="{{ choice.id }}">
            <input type="checkbox" id="{{ choice.id }}" class="mdl-radio__button" name="choice" value="{{ choice.id }}" >
            <span class="checkmark" >{{ choice.choice_text }}</span>
          </label>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" type="Submit" name="btn_click" value="1" onclick=" return atleast_onecheckbox(event)"/>
        Submit
      </button>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" align="right" type="Submit" name="skip" value="0">
        Skip
      </button>
      <input type=button onClick="location.href='/create_normal'" value='add more'>
    
      
  </form>
  
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
 <script type="text/javascript">
  function atleast_onecheckbox(e) {
  if ($("input[type=checkbox]:checked").length === 0) {
      e.preventDefault();
      alert('Please select atleast one checkbox');
      return false;
  }
}
 </script> 
 <script>
   $(document).ready(function () {
    $(".btn").on('click', function () {
        $('#check').append('<input type="checkbox" name="myCheckbox" />' + $(".txt").val());
    });
});
 </script>   


  {% else %}
  <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
    <div class="mdl-card__title mdl-card--expand">
      <h2 class="mdl-card__title-text">All questions complete!</h2>
    </div>
    <div class="mdl-card__media">
      <img src="https://media.giphy.com/media/3oEjI5VtIhHvK37WYo/giphy.gif" alt="eddy murphy" class="article-image">
    </div>
    <div class="mdl-card__supporting-text">
      Thank you for your contribution for this round ! Kindly visit other subject domains as well. Your contribution makes a big difference in developing our learning model.
      Try coming back later.
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{% url 'home' %}">
        I want another round!
      </a>
    </div>
  </div>
  {% endif %}
  {% if error_message %}
  <div id="error-toast" class="mdl-js-snackbar mdl-snackbar mdl-snackbar--active">
    <div class="mdl-snackbar__text">{{ error_message }}</div>
    <button class="mdl-snackbar__action" type="button"></button>
  </div>
  {% endif %}
  {% if messages %}
  {% for message in messages %}
  <div id="info-toast" class="mdl-js-snackbar mdl-snackbar mdl-snackbar--active">
    <div class="mdl-snackbar__text">{{ message | safe }}</div>
  </div>
  {% endfor %}
  {% endif %}
</div>


{% endblock content %}